

body{
    
    height: 100vh;
    width: 100vw;
    /* background-color: burlywood; */
}

.main{
    background-color: black;
}

.App{
   position:absolute;
   width:100vw;
   height:100vh;
   background-color: rgb(0, 0, 0);
   /* background-color: black; */
   color:white;
}



