
.navbar{
    background-color: rgb(018, 018, 018);
    color: white;
}

.container-fluid{
   /* padding: 10px; */
}

/* .x{
    padding: 0.25rem;
    margin: 0px;
    position: relative;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    width: 100%;
} */

.dropdawn-menu{
    background-color: rgb(219, 219, 219);   
    color: white;
}

.m{
    width: 100%;
    height: 400px;
}

.dropdawn-container-menu{
   margin-left: 5px;
   margin-right: 5px;
}

.menu-btn .all-btn{
    background-color: azure;
}

.btn{
    background-color: rgb(39, 39, 39);
    color:rgb(255, 255, 255);
    border: none;
}
